#set page(
    width: 1200pt,
    height: 628pt,
    fill: rgb("#edebdd"),
)

#set text(
    size: 50pt,
    font: "Fira Sans",
     
)

#place(top)[
    = *#"{{ krate.name }}"*
]

#place(horizon)[
    #text(size: 30pt)[
        _#"{{ krate.description}}"_
    ]
]

#place(bottom + left)[
    #text(size: 30pt)[
        ⚖️ #"{{krate.license}}"
    ]
]

#place(bottom + right)[
    #grid(
        columns: ({% for _ in krate.owners -%}auto, {%- endfor %}),
        column-gutter: 20pt,
        {%- for owner in krate.owners %}
        image("{{ owner.avatar }}", width: 70pt),
        {%- endfor %}
    )
]
