#set page(
    width: 1200pt,
    height: 628pt,
    fill: rgb("#edebdd"),
)

#set text(
    size: 50pt,
    font: "Fira Sans",
     
)

#align(top)[
    = *#"{{ krate.name }}"*
]

#align(horizon)[
    #text(size: 30pt)[
        _#"{{ krate.description}}"_
    ]
]
#align(bottom)[
    #align(right)[
        #grid(
            columns: ({% for _ in krate.owners -%}auto, {%- endfor %}),
            column-gutter: 20pt,
            {%- for owner in krate.owners %}
            image("{{ owner.avatar }}", width: 70pt),
            {%- endfor %}
        )
    ]
]